doctype html
html(lang='en')
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    canvas#canvas
    div#debug-info
    script(type='text/javascript' src='/javascripts/app.js')
